[submodule "modules/zsh"]
	path = modules/zsh
	url = git@github.com:codieu/zsh.git
[submodule "modules/tmux"]
	path = modules/tmux
	url = git@github.com:codieu/tmux.git
[submodule "modules/nvim"]
	path = modules/nvim
	url = git@github.com:codieu/neovim.git
[submodule "modules/polybar"]
	path = modules/polybar
	url = git@github.com:codieu/polybar.git
[submodule "modules/dunst/rosepine"]
	path = modules/dunst/rosepine
	url = git@github.com:d2718nis/rose-pine-dunst.git
